@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
    <!-----验证码------>
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link href="~/Content/static/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="~/Content/static/h-ui.admin/css/H-ui.login.css" rel="stylesheet" type="text/css" />
<link href="~/Content/static/h-ui.admin/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/Content/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>后台登录 -重庆众推网络科技有限公司 </title>
</head>
<body>
<input type="hidden" id="TenantId" name="TenantId" value="" />
<h2>重庆众推网络科技有限公司-后台管理系统</h2>
<div class="loginWraper">
  <div id="loginform" class="loginBox">
    <form class="form form-horizontal loginform">
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
        <div class="formControls col-xs-8">
          <input id="" name="account" type="text" placeholder="账户" class="input-text size-L">
        </div>
      </div>
      <div class="row cl">
        <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
        <div class="formControls col-xs-8">
          <input id="" name="password" type="password" placeholder="密码" class="input-text size-L">
        </div>
      </div>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <input class="input-text size-L" type="text" placeholder="验证码" name="verifyCode" required  style="width:150px;">
            <img src="../../Verifycode/UserInfoVerifyCode.aspx" alt="" id="verifycode" /><a href="javascript:" onclick="getverifycode()" style="text-decoration: none">看不清,换一张</a> </div>
      </div>
      <div class="row cl">
        <div class="formControls col-xs-8 col-xs-offset-3">
          <input name="" type="button" id="login" class="btn btn-success radius size-L" value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
          <input name="" type="reset" id="" class="btn btn-default radius size-L" value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
            <span style="color:red;" id="msg"></span>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="footer">Copyright 重庆众推网络科技有限公司 by H-ui.admin v3.1</div>
<script type="text/javascript" src="~/Content/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="~/Content/static/h-ui/js/H-ui.min.js"></script>
<!--此乃百度统计代码，请自行删除-->
<script>
    //重新取得验证码
    function getverifycode() {
        var vimg = $("#verifycode");
        $(vimg).attr("src", "../Verifycode/UserInfoVerifyCode.aspx?" + Math.random());
    };
    $(function () {
        $("#login").click(function () {
            $.ajax({
                cache: true,
                type: "POST",
                url: "../AdminLogin/Login",
                data: $('.loginform').serialize(),// 你的formid
                async: false,
                success: function (result) {
                    //if (result)
                    if (result.ResultType == 0) {
                        window.location.href = "../AdminIndex/Index"; 
                    }
                    else {
                        $("#msg").html(result.Msg);
                    }
                },
                error: function (request) {
                    console.log(request);
                }
            });
        })
    })  
</script>
</body>
</html>