
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>重庆众推网络科技有限公司</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">    
    <link rel="stylesheet" href="~/Content/css/case.css">
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/layer/2.4/layer.js"></script>   

</head>
<body>
    <!-- header section -->
    <section class="banner" role="banner">
        <header id="header">
            <div class="header-content clearfix">
                <a class="logo" href="index.html">众推网络</a>
                <nav class="navigation" role="navigation">
                    <ul class="primary-nav">
                        <li><a href="/Enterprise/Index">首页</a></li>
                        <li><a href="/Enterprise/service">业务范围</a></li>
                        <li><a href="/Enterprise/Case">经典案例</a></li>
                        <li><a href="/Enterprise/About">关于我们</a></li>
                        <li><a href="/Enterprise/ConcatUs">联系我们</a></li>
                        <li><a href="#contact">留言板</a></li>
                    </ul>
                </nav>
                <a href="#" class="nav-toggle">Menu<span></span></a>
            </div>
        </header>
        <!-- banner text -->
        <div class="container" style="font-family:'微软雅黑';font-style:oblique">
            <div class="col-md-10 col-md-offset-1">
                <div class="banner-text text-center">
                    <h1>专注深耕精细化移动推广服务</h1>
                    <p>
                        移动互联网时代的创意革命 · 专业的效果垂直推广<br />
                        流量变现 · 高效的广告收益选择
                    </p>
                    <!-- <a href="#" class="btn btn-large">Find out more</a> </div> -->
                    <!-- banner text -->
                </div>
            </div>
         </div>
    </section>
    <!-- header section -->
    <!-- case info -->
    <section class="navcase">
        <div class="padded">
            <ul class="caseul">
                <li class="caseli active"><a id="link1" class="nav-section1" href="#case1">游戏类</a></li>
                <li class="caseli"><a id="link2" class="nav-section2" href="#case2">理财类</a></li>
                <li class="caseli"><a id="link3" class="nav-section3" href="#case3">证券类</a></li>
                <li class="caseli"><a id="link4" class="nav-section4" href="#case4">银行类</a></li>
                <li class="caseli"><a id="link5" class="nav-section5" href="#case5">电商类</a></li>
                <li class="scrollTop"><a href="#"><image src="~/Content/icons/top.png"></image></a></li>
            </ul>
        </div>
    </section>

    <section>
        <div style="height:700px;" class="casetypeinfo">
            <div style="height:70px;float:left;width:100%"></div>
            <h3 id="case1">游戏类</h3>       
            <div class="piclist">
                <ul class="listul"></ul>
                <div class="fydiv">
                    <ul class="fenye"></ul>
                </div>
            </div>     
           
        </div>
    </section>

    <section>
        <div style="height:550px;" class="casetypeinfo">
            <h3 id="case2">理财类</h3>
            <div class="piclist">
                <ul class="listul"></ul>
                <div class="fydiv">
                    <ul class="fenye"></ul>
                </div>
            </div>  
         
        </div>
    </section>

    <section>
        <div style="height:550px;" class="casetypeinfo">
            <h3 id="case3">证券类</h3>
            <div class="piclist">
                <ul class="listul"></ul>
                <div class="fydiv">
                    <ul class="fenye"></ul>
                </div>
            </div>  
           
        </div>
    </section>
    <section>
        <div style="height:550px;" class="casetypeinfo">
            <h3 id="case4">银行类</h3>
            <div class="piclist">
                <ul class="listul"></ul>
                <div class="fydiv">
                    <ul class="fenye"></ul>
                </div>
            </div>  
           
        </div>
    </section>
    <section>
        <div style="height:550px;" class="casetypeinfo">
            <h3 id="case5">电商类</h3>
            <div class="piclist">
                <ul class="listul"></ul>
                <div class="fydiv">
                    <ul class="fenye"></ul>
                </div>
            </div>  
           
        </div>
    </section>
    <!-- case info -->
    <!-- contact section -->
    <section id="contact" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 conForm">
                    <h5>留言板</h5>
                    <p>我们很高兴您携带我们公司业务范围内的项目前来交谈，或者为那些想了解我们公司实力，合作方式的人详细商洽。</p>
                    <div id="message"></div>
                    <form method="post" action="" name="cform" id="cform">
                        <input name="name" id="name" type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="姓名...">
                        <input name="phone" id="phone" type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="电话...">
                        <textarea name="comments" id="comments" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="留言..."></textarea>
                        <div style="background-color:white;height:53px" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div style="width:70%;float:left;">
                                <input style="width:100%;height:54px;" type="text" placeholder="验证码..." name="verifyCode" required>
                            </div>
                            <div style="width:30%;float:right;height:53px;text-align:center;">
                                <img src="../../Verifycode/UserInfoVerifyCode.aspx" alt="" id="verifycode" />
                                <a href="javascript:" onclick="getverifycode()" style="text-decoration: none">看不清,换一张</a>
                            </div>
                        </div>
                        <input type="button" id="submit" name="send" onclick="submitmessage();" class="submitBnt" value="提交留言">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- contact section -->
    <!-- Footer section -->
    <footer class="footer">
        <div class="footer-top sections">
            <div class="foottop">
                <p>
                    友情链接：
                    <a href="#">东南财经网</a>|
                    <a href="#">百度</a>|
                    <a href="#"> 徽商网 </a>
                </p>
            </div>
            <div class="footer-col col-md-6">
                <h5>地址</h5>
                <p>
                    重庆市大学城<br>
                    1800 1234 56789 / 98532100987<br>
                    support@lexis.com
                </p>
                <p>
                    重庆众推网络科技有限公司网站   版权所有   免责声明   渝 备  号
                </p>
            </div>
            <div class="footer-col col-md-3">
                <h5>服务范围</h5>
                <p>
                    <ul>
                        <li><a href="/Enterprise/service#case1">APP推广</a></li>
                        <li><a href="/Enterprise/service#case2">证券交所银行开户</a></li>
                        <li><a href="/Enterprise/service#case3">P2P理财平台推广</a></li>
                        <li><a href="/Enterprise/service#case4">电商平台推广</a></li>
                        <li><a href="/Enterprise/service#case5">游戏测试推广</a></li>
                        <li><a href="/Enterprise/service#case6">微信公众号推广</a></li>
                        <li><a href="/Enterprise/service#case7">电话回访</a></li>
                    </ul>
                </p>
            </div>
            <div class="footer-col col-md-3">
                <h5>重庆众推</h5>
                <p>
                    <ul>
                        <li><a href="/Enterprise/Index">首页</a></li>
                        <li><a href="/Enterprise/service">业务范围</a></li>
                        <li><a href="/Enterprise/Case">经典案例</a></li>
                        <li><a href="/Enterprise/About">关于我们</a></li>
                        <li><a href="#contact">联系我们</a></li>
                    </ul>
                </p>
            </div>
        </div>
        <!-- footer top -->

    </footer>
    <!-- Footer section -->

    <!-- image pagelist -->
    
    <script type="text/javascript">

        $(function () {

            var imageslist = {};
            var dataCount = 0;//总数据条数
            var imagearray = [];
            imagelist("理财类");
            function imagelist(title) {

                $.ajax({
                    type: 'post',
                    url: "../Enterprise/GetImageListShow",
                    data: {title:title},
                    success: function (result) {
                        if (result.ResultType == 0) {
                            imageslist = result.DataObj;
                            var data=JSON.parse(imageslist);
                            imagearray = data[0].Image;
                            dataCount = imagearray.length;

                            getPage(1,imagearray,dataCount);

                            return imagearray;
                        }

                    },
                    error: function (XmlHttpRequest, textStatus, errorThrown) {
                        layer.msg('error!', { icon: 1, time: 3000 });
                    }
                });
            }
                        
            //翻页
            function getPage(pn,Data,dataCount){
                //var dataCount=50;//总数据条数
                var imaurl = [];
                for (var i = 0; i < Data.length; i++) {
                    imaurl.push(Data[i].Url);
                }
                var pageSize=6;//每页显示条数

                var pageCount= Math.ceil(dataCount / pageSize);//总页数
                if(pn==0||pn>pageCount){
                    return;
                }
                var ul=$(".listul");
                ul.empty();
                paintPage(pageCount,pn);   //绘制页码
                var startPage = pageSize * (pn - 1);
                console.log(dataCount);
                if (pageCount == 1) {     // 当只有一页时 
                    for (var j = 0; j < dataCount; j++) {  
                        var e="<li><a class='work-box' href=\".."+imaurl[j]+"\"><img src=\".."+imaurl[j]+"\"></a></li>";
                        ul.append(e);    
                    }
                }else {      // 当超过一页时 
                    var e=""; 
                    var endPage = pn<pageCount?pageSize * pn:dataCount;
                    for (var j = startPage; j < endPage; j++) {  
                        var e="<li><a class='work-box' href=\".."+imaurl[j]+"\"><img src=\".."+imaurl[j]+"\"></a></li>";
                        ul.append(e);
                    }
                   
                }
            }

           
            //绘制页码
            function paintPage(number,currNum)  //number 总页数,currNum 当前页  
            {
                var pageUl=$(".fenye");
                pageUl.empty();
                var ulDetail="";

                if(number==1){
                    ulDetail= "<li class=\"prev\"><a href=\"javascript:void(0)\">上一页</a></li>"+
                    "<li class=\"numb choose\"><a href=\"javascript:getPage(1)\">1</a></li>"+
                    "<li class=\"next\"><a href=\"javascript:void(0)\">下一页</a></li>";
                }else if(number==2){
                    ulDetail= "<li class=\"prev\"><a href=\"javascript:getPage(1)\">上一页</a></li>"+
                    "<li class=\"numb"+choosele(currNum,1)+"\"><a href=\"javascript:getPage(1)\">1</a></li>"+
                    "<li class=\"numb"+choosele(currNum,2)+"\"><a href=\"javascript:getPage(2)\">2</a></li>"+
                    "<li class=\"next\"><a href=\"javascript:getPage(2)\">下一页</a></li>";
                }else if(number==3){
                    ulDetail= "<li class=\"prev\"><a href=\"javascript:getPage("+parseInt(currNum-1)+")\">上一页</a></li>"+
                    "<li class=\"numb"+choosele(currNum,1)+"\"><a href=\"javascript:getPage(1)\">1</a></li>"+
                    "<li class=\"numb"+choosele(currNum,2)+"\"><a href=\"javascript:getPage(2)\">2</a></li>"+
                    "<li class=\"numb"+choosele(currNum,3)+"\"><a href=\"javascript:getPage(3)\">3</a></li>"+
                    "<li class=\"next\"><a href=\"javascript:getPage("+parseInt(currNum+1)+")\">下一页</a></li>";
                }else if(number==currNum&&currNum>3){
                    ulDetail= "<li class=\"prev\"><a href=\"javascript:getPage("+parseInt(currNum-1)+")\">上一页</a></li>"+
                    "<li class=\"numb\"><a href=\"javascript:getPage("+parseInt(currNum-2)+")\">"+parseInt(currNum-2)+"</a></li>"+
                    "<li class=\"numb\"><a href=\"javascript:getPage("+parseInt(currNum-1)+")\">"+parseInt(currNum-1)+"</a></li>"+
                    "<li class=\"numb choose\"><a href=\"javascript:getPage("+currNum+")\">"+currNum+"</a></li>"+
                    "<li class=\"next\"><a href=\"javascript:getPage("+currNum+")\">下一页</a></li>";
                }else if(currNum==1&&number>3){
                    ulDetail= "<li class=\"prev\"><a href=\"javascript:void(0)\">上一页</a></li>"+
                    "<li class=\"numb choose\"><a href=\"javascript:void(0)\">1</a></li>"+
                    "<li class=\"numb\"><a href=\"javascript:getPage(2)\">2</a></li>"+
                    "<li class=\"numb\"><a href=\"javascript:getPage(3)\">3</a></li>"+
                    "<li class=\"next\"><a href=\"javascript:getPage(2)\">下一页</a></li>";
                }else{
                    ulDetail= "<li class=\"prev\"><a href=\"javascript:getPage("+parseInt(currNum-1)+")\">上一页</a></li>"+
                    "<li class=\"numb\"><a href=\"javascript:getPage("+parseInt(currNum-1)+")\">"+parseInt(currNum-1)+"</a></li>"+
                    "<li class=\"numb choose\"><a href=\"javascript:getPage("+currNum+")\">"+currNum+"</a></li>"+
                    "<li class=\"numb\"><a href=\"javascript:getPage("+parseInt(currNum+1)+")\">"+parseInt(currNum+1)+"</a></li>"+
                    "<li class=\"next\"><a href=\"javascript:getPage("+parseInt(currNum+1)+")\">下一页</a></li>";
                }

                $(".fenye").append(ulDetail);

            }

            function choosele(num,cur){
                if(num==cur){
                    return " choose";
                }else{
                    return "";
                }
            }


            //留言
            function submitmessage() {
                var messageId = @ViewBag.Id;
                var data = {};
                var uname = $.trim($("#name").val());
                var uphone = $.trim($("#phone").val());
                var umessage = $.trim($("#comments").val());
                data = { Id:messageId,HtmlPage: "关于我们", Mobile: uphone, Nick: uname, MessageContent: umessage };
                $.ajax({
                    type: 'post',
                    url: "../Enterprise/AddMessage",
                    data: data,
                    success: function (result) {
                        if (result.ResultType == 0) {
                            layer.msg('添加成功!', { icon: 1, time: 3000 });
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.$('.btn-refresh').click();
                            parent.layer.close(index);
                        }
                        else
                            layer.msg(result.Msg, { icon: 5, time: 3000 });
                    },
                    error: function (XmlHttpRequest, textStatus, errorThrown) {
                        layer.msg('error!', { icon: 1, time: 3000 });
                    }
                });
            }
            //重新取得验证码
            function getverifycode() {
                var vimg = $("#verifycode");
                $(vimg).attr("src", "../Verifycode/UserInfoVerifyCode.aspx?" + Math.random());
            };
        });
    </script>
</body>
</html>
