
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>重庆众推网络科技有限公司</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Content/lib/layer/2.4/layer.js"></script>
    <link rel="stylesheet" href="~/Content/css/main.css">
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style>
        @@keyframes myfirst {
            from {
                font-size:36px;
            }

            to {
                font-size:24px;
            }
        }

        @@-moz-keyframes myfirst /* Firefox */
        {
             from {
                font-size:36px;
            }

            to {
                font-size:24px;
            }
        }

        @@-webkit-keyframes myfirst /* Safari 和 Chrome */
        {
            from {
                font-size:36px;
            }

            to {
                font-size:24px;
            }
        }

        @@-o-keyframes myfirst /* Opera */
        {
            from {
                font-size:36px;
            }

            to {
                font-size:24px;
            }
        }

        .logo {
            animation: myfirst 2s;
            -moz-animation: myfirst 2s; /* Firefox */
            -webkit-animation: myfirst 2s; /* Safari 和 Chrome */
            -o-animation: myfirst 2s; /* Opera */
        }
    </style>
</head>

<body>
    <!-- header section -->
    <section class="banner" role="banner">
        <header id="header">
            <div class="header-content clearfix">
                <a class="logo" href="#">众推网络</a>
                <nav class="navigation" role="navigation">
                    <ul class="primary-nav">
                        <li><a href="/Enterprise/Index">首页</a></li>
                        <li><a href="/Enterprise/service">业务范围</a></li>
                        <li><a href="/Enterprise/Case">经典案例</a></li>
                        <li><a href="/Enterprise/About">关于我们</a></li>
                        <li><a href="/Enterprise/ConcatUs">联系我们</a></li>
                        <li><a href="#contact">留言板</a></li>
                    </ul>

                </nav>

                <a href="#" class="nav-toggle">Menu<span></span></a>
            </div>
        </header>
        <!-- banner text -->
        <div class="container">
            <div class="col-md-10 col-md-offset-1" style="font-family:'微软雅黑';font-style:oblique">
                <div class="banner-text text-center">
                    <h1>专注深耕精细化移动推广服务</h1>
                    <p>
                        移动互联网时代的创意革命 · 专业的效果垂直推广<br />
                        流量变现 · 高效的广告收益选择
                    </p>
                    <!-- <a href="#" class="btn btn-large">Find out more</a> </div> -->
                    <!-- banner text -->
                </div>
            </div>
        </div>
    </section>
    <!-- header section -->
    <!-- services section -->
    <section id="services" class="services service-section" style="font-family:'微软雅黑'">
        <h2>渠道优势</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 text-center">
                    <div class="services-contents">
                        <img src="~/Content/images/logo.jpg" alt="">
                        <h5>选择我们</h5>
                        <p>

                            重庆众推平台常分享：移动互联网实时热点资讯，产品运营推广干货，产品运营经验技巧案例；是移动互联网人最喜欢的平台。<br />

                            重庆众推立志做国内最大的运营推广公司，与此同时我们平台会为小伙伴们提供更多实用内容，为广大产品开发商提供最贴心的服务。<br />
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 text-center">
                    <div class="services-content">
                        <h5>选择我们，选择专业</h5>
                        <p>
                            公司拥有一支专业化强，行业经验丰富的队伍，并和国内多家知名企业强强联实力行业前列。<br />

                            公司渠道资源丰富，线上线下的立体全方位推广，传播更加广泛，让推广无死角，传播无漏洞。<br />

                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                    <div class="services-content">
                        <h5>选择我们，选择实力</h5>
                        <p>
                            线上渠道包含：DSP、自媒体资源，激励渠道和口碑营销等推广方式 。<br />

                            线下渠道覆盖全国1000余所高校和社团及全国主要城市，地推形式多样性，实现面对面，零距离推广。 <br />
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 text-center">
                    <div class="services-content">
                        <h5>选择我们，选择品质</h5>
                        <p>
                            推广业务包含：APP、P2P、B2C、游戏、证券银行等、服务全面。<br />

                            和全国多家知名企业签订长期合作协议，完美的服务品质是赢得客户认可的根本。 <br />
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 text-center">
                    <div class="services-content">
                        <h5>选择我们，选择信赖</h5>
                        <p>
                            公司注册成立于重庆市，注册资本100万元整，专注执行推广服务，因为专注，所以专业，网络众推，值得信赖。<br />

                            在全国多个省份和地区均设办事处，便于和客户沟通协调，您的需求我们会尽快满足，因为我们深知时间对您的意义。 <br />
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- services section -->
    <!-- 媒介资源 -->
    <div class="advantagesix">
        <h3>众推六大优势</h3>
        <p class="pinfo">能快速，精准，覆盖消费者</p>
        <div class="advantagearea">
            <div class="advantage">
                <img style="width:180px;height:200px;" src="~/Content/images/youshi/01.jpg">
            </div>
            <div class="advantage">
                <img style="width:180px;height:200px;" src="~/Content/images/youshi/02.jpg">
            </div>
            <div class="advantage">
                <img style="width:180px;height:200px;" src="~/Content/images/youshi/03.jpg">
            </div>
            <div class="advantage">
                <img style="width:180px;height:200px;" src="~/Content/images/youshi/04.jpg">
            </div>
            <div class="advantage">
                <img style="width:180px;height:200px;" src="~/Content/images/youshi/05.jpg">
            </div>
            <div class="advantage">
                <img style="width:180px;height:200px;" src="~/Content/images/youshi/06.jpg">
            </div>
        </div>
    </div>
    <!-- 媒介资源 -->
    <!-- Marketing_plan section -->
    <section id="canaladvantage" class="canaladvantage canaladvantage-section" style="font-family:'微软雅黑'">
        <h2>渠道优势</h2>
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6 text-center">
                    <div class="canaladvantage-content">
                        <h5>产品分析</h5>
                        <p>
                            类似 | 优势 | 特性
                        </p>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 text-center">
                    <div class="canaladvantage-content">
                        <h5>用户定位</h5>
                        <p>
                            城市 | 年龄 | 性别 | 收入
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 text-center">
                    <div class="canaladvantage-content">
                        <h5>竞争对手分析</h5>
                        <p>
                            优势 | 劣势
                        </p>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 text-center">
                    <div class="canaladvantage-content">
                        <h5>目标群渠道</h5>
                        <p>
                            口碑 | 自媒体 | 门户网站 | APP | 市场商场
                        </p>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 text-center">
                    <div class="canaladvantage-content">
                        <h5>多模式结合</h5>
                        <p>
                            CPC | CPA | CPD | CPS | CPD
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                    <div class="canaladvantage-content">
                        <h5>高校资源推广</h5>
                        <p>
                            全国高校资源 | 社团

                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                    <div class="canaladvantage-content">
                        <h5>城市线下推广</h5>
                        <p>
                            商场 | 影院 | 社区广场
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 text-center">
                    <div class="canaladvantage-content">
                        <h5>口碑推广</h5>
                        <p>
                            好友转介绍 | 充分利用人脉圈

                        </p>
                    </div>
                </div>


                <div class="col-md-4 col-sm-6 text-center">
                    <div class="canaladvantage-content">
                        <h5>自媒体推广</h5>
                        <p>
                            微信 | 微博 | 美拍 | 陌陌 | QQ空间等个人自媒体
                        </p>
                    </div>
                </div>


            </div>

        </div>
    </section>
    <!-- Marketing_plan section -->
    <!-- work section -->
    <section id="works" class="works section no-padding" style="font-family:'微软雅黑'">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="~/Content/images/企业培训.jpg" class="work-box">
                        <img style="width:500px;height:335px;" src="~/Content/images/企业培训.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>企业培训</h5>
                                <p>没有完美的个人，只有完美的团队</p>
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="~/Content/images/合作案例.jpg" class="work-box">
                        <img style="width:500px;height:335px;" src="~/Content/images/合作案例.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>合作共赢</h5>
                                <p>诚信高效、服务用户、团结进取、争创效益</p>
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="~/Content/images/合作案例2.jpg" class="work-box">
                        <img style="width:500px;height:335px;" src="~/Content/images/合作案例2.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>团队精神</h5>
                                <p>团队领导是将聚一群平凡的人、创造不平凡的成果</p>
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 work">
                    <a href="~/Content/images/合作案例3.jpg" class="work-box">
                        <img style="width:500px;height:335px;" src="~/Content/images/合作案例3.jpg" alt="">
                        <div class="overlay">
                            <div class="overlay-caption">
                                <h5>服务理念</h5>
                                <p>因为有缘我们相聚，成功要靠大家努力</p>
                            </div>
                        </div>
                        <!-- overlay -->
                    </a>
                </div>
                @*<div class="col-lg-3 col-md-6 col-sm-6 work">
                        <a href="~/Content/images/合作案例4.jpg" class="work-box">
                            <img style="width:500px;height:335px;" src="~/Content/images/合作案例4.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-caption">
                                    <h5>网众服务</h5>
                                    <p>传播更广泛，推广无死角</p>
                                </div>
                            </div>
                            <!-- overlay -->
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 work">
                        <a href="~/Content/images/work-5.jpg" class="work-box">
                            <img style="width:500px;height:335px;" src="~/Content/images/work-5.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-caption">
                                    <h5>Project Name</h5>
                                    <p>Website Design</p>
                                </div>
                            </div>
                            <!-- overlay -->
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 work">
                        <a href="~/Content/images/work-6.jpg" class="work-box">
                            <img style="width:500px;height:335px;" src="~/Content/images/work-6.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-caption">
                                    <h5>Project Name</h5>
                                    <p>Website Design</p>
                                </div>
                            </div>
                            <!-- overlay -->
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 work">
                        <a href="~/Content/images/work-7.jpg" class="work-box">
                            <img style="width:500px;height:335px;" src="~/Content/images/work-7.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-caption">
                                    <h5>Project Name</h5>
                                    <p>Website Design</p>
                                </div>
                            </div>
                            <!-- overlay -->
                        </a>
                    </div>*@
            </div>
        </div>
    </section>
    <!-- work section -->
    <!-- contact section -->
    <section id="contact" class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 conForm">
                    <h5>留言板</h5>
                    <p>我们很高兴您携带我们公司业务范围内的项目前来交谈，或者为那些想了解我们公司实力，合作方式的人详细商洽。</p>
                    <div id="message"></div>
                    <form method="post" action="" name="cform" id="cform">
                        <input name="name" id="name" type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="姓名...">
                        <input name="phone" id="phone" type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 noMarr" placeholder="电话...">
                        <textarea name="comments" id="comments" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="留言..."></textarea>
                        <div style="background-color:white;height:53px" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div style="width:70%;float:left;">
                                <input style="width:100%;height:54px;" type="text" placeholder="验证码..." name="verifyCode" required>
                            </div>
                            <div style="width:30%;float:right;height:53px;text-align:center;">
                                <img src="../../Verifycode/UserInfoVerifyCode.aspx" alt="" id="verifycode" />
                                <a href="javascript:" onclick="getverifycode()" style="text-decoration: none">看不清,换一张</a>
                            </div>
                        </div>
                        <input type="button" id="submit" name="send" onclick="submitmessage();" class="submitBnt" value="提交留言">
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- contact section -->
    <!-- Footer section -->
    <footer class="footer">
        <div class="footer-top sections">
            <div class="foottop">
                <p>
                    友情链接：
                    <a href="#">东南财经网</a>|
                    <a href="#">百度</a>|
                    <a href="#"> 徽商网 </a>
                </p>
            </div>
            <div class="footer-col col-md-6">
                <h5>地址</h5>
                <p>
                    重庆市大学城<br>
                    1800 1234 56789 / 98532100987<br>
                    support@lexis.com
                </p>
                <p>
                    重庆众推网络科技有限公司网站   版权所有   免责声明  渝ICP备18005271号-1
                </p>
            </div>
            <div class="footer-col col-md-3">
                <h5>服务范围</h5>
                <p>
                    <ul>
                        <li><a href="/Enterprise/service#case1">APP推广</a></li>
                        <li><a href="/Enterprise/service#case2">证券交所银行开户</a></li>
                        <li><a href="/Enterprise/service#case3">P2P理财平台推广</a></li>
                        <li><a href="/Enterprise/service#case4">电商平台推广</a></li>
                        <li><a href="/Enterprise/service#case5">游戏测试推广</a></li>
                        <li><a href="/Enterprise/service#case6">微信公众号推广</a></li>
                        <li><a href="/Enterprise/service#case7">电话回访</a></li>
                    </ul>
                </p>
            </div>
            <div class="footer-col col-md-3">
                <h5>重庆众推</h5>
                <p>
                    <ul>
                        <li><a href="/Enterprise/Index">首页</a></li>
                        <li><a href="/Enterprise/service">业务范围</a></li>
                        <li><a href="/Enterprise/Case">经典案例</a></li>
                        <li><a href="/Enterprise/About">关于我们</a></li>
                        <li><a href="#contact">联系我们</a></li>
                    </ul>
                </p>
            </div>
        </div>
        <!-- footer top -->

    </footer>
    <!-- Footer section -->
    <!-- JS FILES -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript">

        //留言
        function submitmessage() {
            var messageId = @ViewBag.Id;
            var data = {};
            var uname = $.trim($("#name").val());
            var uphone = $.trim($("#phone").val());
            var umessage = $.trim($("#comments").val());
            data = { Id:messageId,HtmlPage: "关于我们", Mobile: uphone, Nick: uname, MessageContent: umessage };
            $.ajax({
                type: 'post',
                url: "../Enterprise/AddMessage",
                data: data,
                success: function (result) {
                    if (result.ResultType == 0) {
                        layer.msg('添加成功!', { icon: 1, time: 3000 });
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.$('.btn-refresh').click();
                        parent.layer.close(index);
                    }
                    else
                        layer.msg(result.Msg, { icon: 5, time: 3000 });
                },
                error: function (XmlHttpRequest, textStatus, errorThrown) {
                    layer.msg('error!', { icon: 1, time: 3000 });
                }
            });
        }

        //重新取得验证码
        function getverifycode() {
            var vimg = $("#verifycode");
            $(vimg).attr("src", "../Verifycode/UserInfoVerifyCode.aspx?" + Math.random());
        };
    </script>

</body>
</html>
